.project
.cproject

logs/*
logs

Debug/*
Debug

Release/*
Release

build/*
build

build-clang/*
build-clang

build-gcc/*
build-gcc

build-msvc/*
build-msvc

build-server/*
build-server

build-client/*
build-client
